body {
  background-color: black;
}

h1 {
  margin-top: 10%;
  text-align: center;
  color: red;
  font-family: sans-serif;
}

#watching {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.profile {
  margin-left: 43%;
  height: 190px;
  cursor:pointer;
}

.profile:hover{
  margin-left: 42.8%;
  border: solid white;
}

.profile:active {
  opacity: 0.5;
  margin-left: 43.5%;
  margin-top: 0.5%;
  height: 170px;
  width: 170px;
}

p {
  text-align: center;
  color: #727272;
  font-family: sans-serif;
}
